body{
    text-align: center;
    background-color: #fcf1e7;
    margin: 0px;
    /*background-image: url("imagen.jpg");*/
}
.container{
    margin: 0px auto;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
    text-align: center;
    background-color: white;
    width: 1000px;
    color:dimgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;

}
h1 {
  font-family: 'Open Sans', arial, sans-serif;
  color:cadetblue;
  font-size: 40px;
  margin: 0px;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  color:dimgray;
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
}
p {
  margin: 0px auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 1.6;
  max-width: 33em;
  text-align: left;
}
.list {
  margin: 0px auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 1.6;
  max-width: 33em;
  text-align: left;

}